body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: auto;
    background-color: #3f3e3e;
    color: white;
}


a,p,h1,h2,h3,h4,h5,h6,span,div {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:any-link {
    color: white;
}
a:visited {
    color: green; 
}

a:hover {
    color: green;   
}

a:active {
    color: rgb(35, 199, 35);
}

.page {
    &__display {
        display: flex;
        max-width: 600px;
        margin: 50px auto;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 5px;
        min-height: 400px;
        &--write-message {
            display: flex;
            flex: 0 300px;
            flex-direction: column;
            gap: 10px;

            margin-right: 10px;
            > div {
                height: 300px;
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .me {
                    background-color: lime;
                    color: #3f3e3e;
                    border-radius: 5px;
                    padding: 5px;
                }
                .to {
                    background-color: #1d1d1d;
                    color:lime ;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
            textarea {
                background-color: transparent;
                outline: 0;
                resize: none;
                color: white;
                height: 50px;
            }
            button {
                cursor: pointer;
            }
        }
        &--friend-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            margin: 0;
            flex: 1;
            list-style: none;
            div {
                padding: 0 10px;
                margin-top: 5px;
            }
            li {
                border-radius: 5px;
                height: 30px;
                background-color: #1d1d1d;
                padding: 0 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}